body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    height: 100vh;
  
}
.home-sec{
    height: 800px;
}
.navigation{
    width: 100%;

    height: 80px;
}
.navbar{
    display: flex;
    gap: 60px;
    list-style: none;
    float: right;
    margin-right: 28%;
    height: 50px;
    opacity: 0;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}
.nav-link{
    text-decoration: none;
     color: black;
    font-size: 18px;
    font-family: codec pro;
}
.big-circle{
    width: 700px;
    height: 700px;
    background-color:#6555DF ;
    border-radius: 50% ;
    position: absolute;
    left: 72%;
    top: -2px;
    opacity: 0;
   
}
.pc-img{
    position: absolute;
    left: 70%;
    top: 20%;
    width: 500px;
height: 420px;
opacity: 0;
}
.text-sec{
    position: absolute;

    left: 8%;
    top: 21%;
}
.title-1{
    font-family: 'FONTSPRING DEMO - Masny Bold';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 116.02%;
letter-spacing: 0.02em;
opacity: 0;

}
.small-text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
margin-top: -30px;
opacity: 0;



color: rgba(0, 0, 0, 0.68);

}
.see-more {
 width: 120px;
height: 50px;
background: #6555DF;
border-radius: 9px;
border: none;
font-size: 18px;
font-family: codec pro;
color: white;
opacity: 0;


}
.c-2{
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color:#FFDC60 ;
    top: -150px;
    left: -150px;
    opacity: 0;
}
.c-3{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:#FFDC60 ;
    top: 25%;
    left: 55%;
    z-index: -1;
    opacity: 0;
}
.c-4{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#FFCDEB ;
    top: 53%;
    left: 1%;
    opacity: 0;
}
.about{
    position: absolute;
    left: 8%;
    border-radius: 4%;
   border: 1px solid #9155df;
   border-radius: 22px;
   width: 260px;
   height: 260px;
   display: flex ;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 12px;
   font-family: codec pro;
   line-height: 22px;
 
/*   border-image: linear-gradient(139.79deg, #6555DF 0%, #F6B1A6 98.88%); */
}
.about-text{
     margin-top: -10px; 
     color: rgba(0, 0, 0, 0.704);
}
.about::before{
    content: "";
    position: absolute;
    left: 6%;
    top: 5%;
    border-radius: 4%;
   border: 1px solid #F6B1A6;
   border-radius: 22px;
   width: 260px;
   height: 260px;

}
.info{
    position: absolute;
    left: 39%;
    border-radius: 4%;
   border: 1px solid #9155df;
   border-radius: 22px;
   width: 260px;
   height: 260px;
   display: flex ;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 12px;
   font-family: codec pro;
   line-height: 22px;
}
.info::before{
    content: "";
    position: absolute;
    left: 6%;
    top: 5%;
    border-radius: 4%;
   border: 1px solid #F6B1A6;
   border-radius: 22px;
   width: 260px;
   height: 260px;

}
.info-text{
    margin-top: -10px; 
    color: rgba(0, 0, 0, 0.704);
}
.work{
    position: absolute;
    left: 70%;
    border-radius: 4%;
   border: 1px solid #9155df;
   border-radius: 22px;
   width: 260px;
   height: 260px;
   display: flex ;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 12px;
   font-family: codec pro;
   line-height: 22px;
}
.work::before{
    content: "";
    position: absolute;
    left: 6%;
    top: 5%;
    border-radius: 4%;
   border: 1px solid #F6B1A6;
   border-radius: 22px;
   width: 260px;
   height: 260px;

}
.work-text{
    margin-top: -5px; 
    margin-left: 11px;
    color: rgba(0, 0, 0, 0.704);
}
.ex-work{
    margin-top: 30px;
}
.man-img{
    position: absolute;
    left: 34.5%;
    top: 75%;
    opacity: 0;
}
.skills-sec{

    width: 100%;
    height: 500px;
    margin-top: 34%;

}

.Social-media {
width: 250px;
height: 180px;
background: linear-gradient(115.31deg, #3A28B0 -15.89%, #8F52C8 75.3%);
box-shadow: 0px 23px 40px -17px rgba(143, 82, 200, 0.47);
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'FONTSPRING DEMO - Masny Bold';
font-size: 20px;
color: white;
position:absolute;
left: 5%;
margin-top: -50px;


}
.Design{
    width: 250px;
height: 180px;
background: linear-gradient(118.51deg, #FB478D 1.67%, #FDB85F 99.32%);
box-shadow: 0px 19px 40px -11px rgba(253, 135, 115, 0.49);
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'FONTSPRING DEMO - Masny Bold';
font-size: 20px;
color: white;
position:absolute;
left: 28.5%;
margin-top: -50px;
}
.Tools{
    width: 250px;
height: 180px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'FONTSPRING DEMO - Masny Bold';
font-size: 20px;
color: white;
position:absolute;
left: 52%;
margin-top: -50px;

background: linear-gradient(116.7deg, #57C3FF 12.67%, #514EFF 97.36%);
box-shadow: 0px 20px 40px -11px rgba(86, 187, 255, 0.47);
border-radius: 30px;
}
.Other{
    width: 250px;
height: 180px;
display: flex;
align-items: center;
justify-content: center;
font-family: 'FONTSPRING DEMO - Masny Bold';
font-size: 20px;
color: white;
position:absolute;
left: 75%;
margin-top: -50px;
background: linear-gradient(115.05deg, #56B67A 11.76%, #0D7855 91.4%);
box-shadow: 0px 20px 40px -11px #339969;
border-radius: 30px;

}

.veiw{
    
    display: flex;
    align-items: center;
    gap: 280px;
    margin-left: 21%;
    position: absolute;
    margin-top: -20px;
  
  
   
    
}
.x-1{
    position: absolute;
    left: 85.5%;
    margin-top: -270px;
    display: none;
}
.ami {
    animation: grow 500ms linear forwards;
}
@keyframes grow {
    from {
        width: 250px;
        height: 180px;
        z-index: 2;
        left: 5%;
        
    }
    to{
        width: 450px;
        height: 350px;
        z-index: 2;
        left: 5%;
      
    }
}
.amin {
    animation: back 500ms linear forwards;
}
@keyframes back {
    from {
        width: 450px;
        height: 350px;
        left: 5%;
        position: absolute;
        z-index: 2;
    }
    to{
       
        width: 250px;
        height: 180px;
        position: absolute;
        left: 5%;
        z-index: 2;
        
    }
}
.icon-1{
    z-index: 2;  
}
.title-up {
    animation: text-up 500ms linear forwards;
}
@keyframes text-up {
    from{
        position: absolute;
        left: 90px;
        top: 60px;
    }
    to{
     position: absolute;
     left: 50px;
        top: 10px;
    }
}
.title-down {
    animation: text-down 500ms linear forwards;
}
@keyframes text-down {
    from{
        position: absolute;
        left: 50px;
        top: 10px;
    }
    to{
     position: absolute;
     
        left: 62.7px;
        top: 58px;
    }
}
.content-s{
    position: absolute;
    z-index: 10;
    font-family: codec pro;
    line-height: 30px;
    left: 5%;
    font-size: 17px;
    color: white;
    opacity: 0;
}
.x-3{
    position: absolute;
    left: 85.5%;
    margin-top: -270px;
    display: none;
}
.ami3{
    animation: grow-3 500ms linear forwards;
}
@keyframes grow-3 {
    from {
        width: 250px;
        height: 180px;
        z-index: 1;
        left: 28.5%;
        
    }
    to{
        width: 450px;
        height: 350px;
        z-index: 1;
        left: 28.5%;
      
    }
}
.amin3 {
    animation: back-3 500ms linear forwards;
}
@keyframes back-3 {
    from {
        width: 450px;
        height: 350px;
        left: 28.5%;
        position: absolute;
        z-index: 1;
    }
    to{
       
        width: 250px;
        height: 180px;
        position: absolute;
        left: 28.5%;
        z-index: 1;
        
    }
}
.icon-2{
    z-index: 2;  
}
.title-up3 {
    animation: text-up3 500ms linear forwards;
}
@keyframes text-up3 {
    from{
        position: absolute;
        left: 90px;
        top: 60px;
    }
    to{
     position: absolute;
     left: 50px;
        top: 10px;
    }
}

.title-down3 {
    animation: text-down3 500ms linear forwards;
}
@keyframes text-down3 {
    from{
        position: absolute;
        left: 50px;
        top: 10px;
    }
    to{
     position: absolute;
     
        left: 90px;
        top: 58px;
    }
}
.content-s3{
    position: absolute;
    z-index: 10;
    font-family: codec pro;
    line-height: 30px;
    left: 30%;
    margin-top: -300px;
    font-size: 17px;
    color: white;
    opacity: 0;

}


.x-4{
    position: absolute;
    left: 85.5%;
    margin-top: -270px;
    display: none;
}
.ami4{
    animation: grow-4 500ms linear forwards;
}
@keyframes grow-4 {
    from {
        width: 250px;
        height: 180px;
        z-index: 1;
        left: 52%;
        
    }
    to{
        width: 450px;
        height: 350px;
        z-index: 1;
        left: 52%;
      
    }
}
.amin4 {
    animation: back-4 500ms linear forwards;
}
@keyframes back-4 {
    from {
        width: 450px;
        height: 350px;
        left: 52%;
        position: absolute;
        z-index: 1;
    }
    to{
       
        width: 250px;
        height: 180px;
        position: absolute;
        left: 52%;
        z-index: 1;
        
    }
}
.icon-3{
    z-index: 2;  
}
.title-up4 {
    animation: text-up4 500ms linear forwards;
}
@keyframes text-up4 {
    from{
        position: absolute;
        left: 90px;
        top: 60px;
    }
    to{
     position: absolute;
     left: 50px;
        top: 10px;
    }
}

.title-down4 {
    animation: text-down4 500ms linear forwards;
}
@keyframes text-down4 {
    from{
        position: absolute;
        left: 50px;
        top: 10px;
    }
    to{
     position: absolute;
     
        left: 90px;
        top: 58px;
    }
}
.content-s4{
    position: absolute;
    z-index: 10;
    font-family: codec pro;
    line-height: 30px;
    left: 25%;
    margin-top: -640px;
    font-size: 18px;
   color: white;
    opacity: 0;

}
.side{
    position: absolute;
    color: white;
    margin-left: 180px;
    margin-top: -120px;
    font-size: 18px;
}

.x-5{
    position: absolute;
    left: 85.5%;
    margin-top: -270px;
    display: none;
}


#my-eye {
   position: absolute; 
   left: 91%;
   margin-top: -19px;
   z-index: 2;
}
.grow-1{
    animation: grow-5 500ms linear forwards;
}
@keyframes grow-5 {
    from {
        width: 250px;
        height: 180px;
        z-index: 1;
        left: 75%;
        
    }
    to{
        width: 450px;
        height: 350px;
        z-index: 1;
        left: 60%;
      
    }
}
.back-nrml {
    animation: back-5 500ms linear forwards;
}
@keyframes back-5 {
    from {
        width: 450px;
        height: 350px;
        left: 60%;
        position: absolute;
        z-index: 1;
    }
    to{
       
        width: 250px;
        height: 180px;
        position: absolute;
        left: 75%;
        z-index: 1;
        
    }
}

.up-side {
    animation: text-up5 500ms linear forwards;
}
@keyframes text-up5 {
    from{
        position: absolute;
        left: 90px;
        top: 60px;
    }
    to{
     position: absolute;
     left: 50px;
        top: 10px;
    }
}

.down-side {
    animation: text-down5 500ms linear forwards;
}
@keyframes text-down5 {
    from{
        position: absolute;
        left: 80px;
        top: 10px;
    }
    to{
     position: absolute;
     
        left: 90px;
        top: 58px;
    }
}
.other-skills{
    position: absolute;
    z-index: 10;
    font-family: codec pro;
    line-height: 30px;
    left: 66%;
    margin-top: -1010px;
    font-size: 18px;
   color: white;
    opacity: 0;

}

.side-2{
    position: absolute;
    color: white;
    margin-left: 180px;
    margin-top: -180px;
    font-size: 18px;
}

.main-sec {
   
    width: 100%;
    height: 100px;
}
.Skills {
  position: absolute;

  width: 100%;
  top: 156%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: black;
  font-family: sans-serif;

}

.portfolio-sec {
    
    width: 100%;
    height: 400px;
    margin-top: -130px;
}
  


.slider {
    position:  relative;
    width: 350px;
    height: 300px;
    left: 36%;
    margin-top: 140px;
    transform-style: preserve-3d;
    animation: spin 30s linear infinite ;
}
@keyframes spin {
    0% {
        transform: perspective(1500px) rotateY(0deg);
    }
    100% {
        transform: perspective(1500px) rotateY(360deg);
    }
}
.slider span {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform-origin: center ;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*60deg)) translateZ(350px);
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.368);
   
}
.slider span img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
}

.portfolio-title {

    position: absolute;
    top: 220%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: sans-serif;
}

.contact-text {
    position: absolute;
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.thankyou {
    font-size: 32px;
    width: 300px;
    text-align: center;
    font-family: 'FONTSPRING DEMO - Masny Bold';
}
.contact-btn {
    width: 110px;
    height: 45px;
    background: #6555DF;
    box-shadow: -2px 5px 4px rgba(0, 0, 0, 0.07), 0px 4px 20px rgba(168, 156, 255, 0.47), inset 3px 2px 4px #988BFE;
    border-radius: 27.5px;
    border: none;
    color: white;
    font-family: 'FONTSPRING DEMO - Masny Bold';
    letter-spacing: 1px;

}



.svg-1{
    position: absolute;
    left: 35%;
    margin-top: 195px;
    width: 100px;
    margin-left: 30px;
}
.last-crcl{
    position: absolute;
    width: 900px;
    height: 450px; 
    background-color: #6555DF ;
    border-top-left-radius: 910px;  
    border-top-right-radius: 910px; 
    border-bottom: 0;
    margin-bottom: 0px;
    z-index: 1;
}
.last-sec{
    
    position: absolute;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    margin-top: 600px;
    overflow-y: none;
}

.img-ff{
    position: absolute;
    z-index: 2;
    top: -100px;
    left: 13%;
    width: 850px;
    height: 550px;
    filter: drop-shadow(7px 22px 4px rgba(63, 60, 60, 0.25));
    
    
}
.contact-form {
 width: 310px;
 height: 180px;
 top: 10%;
 border-radius: 20px;
 position: absolute;
 z-index: 5;
 background: rgba(255, 255, 255, 0.33);
 box-shadow: 9px 11px 20px rgba(131, 125, 125, 0.25), inset 6px 5px 7px rgba(255, 255, 255, 0.39);
 backdrop-filter: blur(20px);
 opacity: 0;
 
}

.email-phone {
    position: absolute;
    z-index: 20;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 90px;
    
}
.email-btn {
background-color: inherit;
width: 95px;
height: 40px;
border: none;
background: #FF8291;
box-shadow: 0px 19px 20px -12px rgba(213, 111, 123, 0.65);
border-radius: 26.5px;
font-family: 'FONTSPRING DEMO - Masny Bold' ;
    color: white;
  
}
.phone-btn {
    background-color: inherit;
    width: 95px;
    height: 40px;
    border: none;
    background: #77F2B7;
    box-shadow: 0px 23px 20px -15px rgba(76, 202, 141, 0.6);
    border-radius: 26.5px;
    font-family: 'FONTSPRING DEMO - Masny Bold' ;
    color: white;
    
  
}

.by {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 35px;
    font-family: 'FONTSPRING DEMO - Masny Bold' ;
    color:  rgba(104, 102, 102, 1);
    
}

.the-email {
    position: absolute;
    z-index: 22;
    background: rgba(177, 179, 189, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.26);
    box-shadow: 0px 19px 20px -12px rgba(0, 0, 0, 0.22);
    border-radius: 26.5px;
    width: 240px;
    height: 40px;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: codec pro;
    opacity: 0;
    letter-spacing: 0px;
    


}
.the-phone {
    position: absolute;
    z-index: 22;
    background: rgba(177, 179, 189, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.26);
    box-shadow: 0px 19px 20px -12px rgba(0, 0, 0, 0.22);
    border-radius: 26.5px;
    width: 240px;
    height: 40px;
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: codec pro;
    letter-spacing: 0px;
    opacity: 0;
}

.show-email {
    animation: show-em 500ms linear forwards;
    position: absolute;
}

@keyframes show-em {
    from {
        width: 310px;
        height: 180px;
    }
    to {
        width: 310px;
        height: 240px;
    }
}



@media screen and (max-width:550px) {
    
     .big-circle{
        position: absolute;
        width: 418px;
        height: 388px;
        left: 450px;
        top: -38px;
     }
     .c-2{
        position: absolute;
        width: 209px;
        height: 209px;
        left: -144px;
        top: -143px;
        
     }
     .c-3 {
        position: absolute;
        width: 45px;
        height: 45px;
        left: 301px;
        top: 90px;
     }
     .pc-img {
        position: absolute;
        width: 360px;
        height: 270px;
        left: 472px;
        top: 46px;
     }
     .navigation{
         display: none;

     }
     .title-1 {
         font-size: 22px;
         margin-top: -10px;
     }
     .small-text {
         font-size: 12px;
         line-height: 14px;
         margin-top: -10px;
     }
     .see-more{
         width: 80px;
         height: 30px;
         border-radius: 5px;
         font-size: 11px;
     }
     .about{
          
      position: absolute;
      width: 220.9px;
      height: 210px;
      left: 37px;
      top: 455px;
      font-size: 14px;
     }
     .about::before{
         content: "";
         position: absolute;
         width: 220.9px;
        height: 210px;

     }

    .info{
        position: absolute;
        width: 220.9px;
        height: 210px;
        left: 264px;
        top: 750px;
    }
    .info::before{
        content: "";
        position: absolute;
        width: 220.9px;
        height: 210px;
        
    }
    .work{
        position: absolute;
        width: 220.9px;
        height: 210px;
        left: 39px;
        top: 1020px;
        font-size: 14px;
    }
    .work::before{
        content: "";
        position: absolute;
        width: 220.9px;
        height: 210px;
    }
    .skills-sec{
       margin-top: 500px;
    }
    .man-img{
        width: 70px;
        height: 70px;
        margin-left: 40px;
        opacity: 0;
       
    }
    .Social-media{
        margin-left: 40px;
    }
    .Design{
        margin-left: 240px;
    }
    .Tools{
        margin-top: 180px;
        margin-left: -155px;
    }
    .Other{

        margin-top: 180px;
        margin-left: 50px;
    }
    .slider{
        width: 180px;
        height: 180px;
        margin-left: 50px;
    }
    .slider span {
        transform: rotateY(calc(var(--i)*35deg)) translateZ(350px);
    }
    body{
        overflow-x:hidden;
    }
    
     
}
